@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  font-family: "PPEditorialNew", "PPNeueMontreal", sans-serif;
} */


@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("./fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("./fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}


.h1 {
  @apply text-h1 font-editorial leading-[120%];
}

.h2 {
  @apply text-h2 font-editorial leading-[120%];
}

.h3 {
  @apply text-h3 font-editorial leading-[120%];
}

.h4 {
  @apply text-h4 font-montreal leading-[120%];
}

.h5 {
  @apply text-h5 font-montreal leading-[120%];
}

.h6 {
  @apply text-h6 font-montreal leading-[120%];
}


