@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("./fonts/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("./fonts/PPEditorialNew-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPEditorialNew";
  src: url("./fonts/PPEditorialNew-UltralightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
} */

.cursor {
  transition: transform 0.01s linear;
}

.h1 {
  @apply text-4xl md:text-[2.5rem] lg:text-5xl font-editorial text-fullgrey leading-[120%];
}

.h2 {
  @apply text-[1.75rem] md:text-3xl lg:text-[2rem] font-editorial text-fullgrey leading-[120%];
}

.h3 {
  @apply text-[1.375rem] md:text-2xl font-medium font-montreal text-fullgrey leading-[120%];
}

.h4 {
  @apply text-lg md:text-xl lg:text-[1.375rem] font-montreal text-darkgrey leading-[120%];
}

.h5 {
  @apply text-base lg:text-lg font-montreal text-darkgrey leading-none;
}

.h6 {
  @apply text-sm md:text-base font-montreal text-darkgrey leading-none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
}
